//****** Animation like button ******
@mixin like__setting {
  .heart {
    path{
      stroke: #101010;
    }
    @keyframes like-effect {
      0% {
        scale: 0.85;
      }
      85%{
        scale: 1.15;
      }
      100% {
        fill: url(#grad1); // id:"grad1 > linear-gradient"
        stroke: none;
        scale: 1;
      }
    }
    @keyframes like-effect-revert {
      0% {
        fill: url(#grad1); // id:"grad1 > linear-gradient"
        scale: 1;
        stroke: none;
      }
      85%{
        scale: 1.15;
      }
      100% {
        scale: 1;
      }
    }
  }
  .icone-heart {
    display: inline-block;
    cursor: pointer;
    user-select: none; //no effect on Chrome
    input {
      display: none; // disappearance of the input square
    }
    // action onclick
    input:checked + .heart {
      animation: like-effect 0.8s cubic-bezier(0.45, -0.53, 0.49, 1.49) forwards;
    }
    // action notclick
    :not(input:checked) + .heart {
      animation: like-effect-revert 0.8s cubic-bezier(0.45, -0.53, 0.49, 1.49) forwards;
    }
  }
}
