@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
.introduction {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.introduction__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 42px;
  padding-bottom: 52px;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .introduction__container {
    margin-top: 30px;
    padding-bottom: 30px;
    gap: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .introduction__container h2 {
    font-size: 40px;
    height: 47px;
    display: flex;
    align-items: center;
  }
}
.introduction__container p {
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .introduction__container p {
    font-size: 18px;
    height: 46px;
    display: flex;
    align-items: center;
  }
}
.introduction__container .button {
  width: 218px;
  height: 50px;
  background: linear-gradient(var(--secondary-color), var(--primary-color));
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 24px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.introduction__container .button:hover {
  animation: button_linear-gardien 300ms ease-out forwards;
}
@keyframes button_linear-gardien {
  100% {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
    opacity: 0.85;
  }
}

.fonctionnement {
  width: 100%;
  height: 100%;
  padding: 50px 0 70px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 0;
  }
}
.fonctionnement__container {
  width: 375px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container {
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .fonctionnement__container {
    width: 1053px;
    margin-right: 27px;
  }
}
.fonctionnement__container h2 {
  padding-left: 20px;
  margin-bottom: 26px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container h2 {
    padding-left: 0;
  }
}
.fonctionnement__container__list {
  padding-left: 33px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container__list {
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 12px;
    gap: 36px;
  }
}
.fonctionnement__container__list__etapes {
  width: 290px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  padding-left: 33px;
  gap: 20px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}
.fonctionnement__container__list__etapes span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14.18px;
  line-height: 16.62px;
  width: 24px;
  height: 24px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin-left: -44px;
}
.fonctionnement__container__list__etapes p {
  font-weight: 500;
  line-height: 18.75px;
}
.fonctionnement__container #n1 {
  width: 13px;
  height: 20px;
}
.fonctionnement__container #n2 {
  width: 16px;
  height: 16px;
}
.fonctionnement__container #n3 {
  width: 18px;
  height: 18px;
}

.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-restaurant {
  margin: 54px 0 66px 0;
}
@media screen and (min-width: 1024px) {
  .list-restaurant {
    width: 1024px;
    margin: 30px 0;
  }
}
@media screen and (min-width: 1440px) {
  .list-restaurant {
    width: 1080px;
  }
}
.list-restaurant__title {
  padding-bottom: 18px;
}
@media screen and (min-width: 1024px) {
  .list-restaurant__title {
    padding-left: 0;
  }
}
.list-restaurant__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .list-restaurant__cards {
    justify-content: space-evenly;
    padding: 0;
    gap: 50px;
  }
}
.list-restaurant__cards__top, .list-restaurant__cards__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .list-restaurant__cards__top, .list-restaurant__cards__bottom {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .list-restaurant__cards__top, .list-restaurant__cards__bottom {
    gap: 100px;
  }
}
.list-restaurant .like {
  padding-top: 7px;
  width: 22px;
  height: 21px;
}
.list-restaurant .like .heart {
  transition: fill 0.3s;
}
.list-restaurant .like .heart path {
  stroke: #101010;
}
.list-restaurant .like .icone-heart {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}
.list-restaurant .like .icone-heart input {
  display: none;
}
.list-restaurant .like .icone-heart input:checked + .heart {
  fill: red;
}
.list-restaurant .like .icone-heart input:checked + .heart path {
  stroke: none;
}
.list-restaurant .card {
  height: 251px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
}
.list-restaurant .card__image {
  width: 340px;
  height: 80%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media screen and (min-width: 1024px) {
  .list-restaurant .card__image {
    width: 490px;
  }
}
.list-restaurant .card__container {
  width: 100%;
  position: relative;
  padding: 16px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 5px;
}
.list-restaurant .card__container .badge_nouveau {
  position: absolute;
  right: 13px;
  bottom: 209px;
  width: 80px;
  height: 29px;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.list-restaurant .card__container .badge_nouveau span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: #008766;
}
.list-restaurant .card__content p {
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
}

.image_introduction {
  width: 100%;
  height: 275px;
}
@media screen and (min-width: 1024px) {
  .image_introduction {
    height: 383px;
  }
}
.image_introduction img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu {
  position: relative;
  width: 100%;
  z-index: 1;
}
@media screen and (min-width: 1024px) {
  .menu {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.menu__container {
  margin-top: -40px;
  padding: 28px 0 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: var(--background-secondry);
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
@media screen and (min-width: 1024px) {
  .menu__container {
    width: 1024px;
    height: 100%;
  }
}
@media screen and (min-width: 1440px) {
  .menu__container {
    width: 1055px;
  }
}
.menu__container__title {
  width: 370px;
  height: 29px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .menu__container__title {
    width: 307px;
    height: 41px;
  }
}
.menu__container__title h2 {
  font-family: var(--header-font);
  font-size: 28px;
  font-weight: var(--header-weight);
  line-height: 40.82px;
}
.menu__container__title .like {
  width: 22px;
  height: 21px;
  padding-right: 24px;
  padding-top: 8px;
}
.menu__container__title .like .heart {
  transition: fill 0.3s;
}
.menu__container__title .like .heart path {
  stroke: #101010;
}
.menu__container__title .like .icone-heart {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}
.menu__container__title .like .icone-heart input {
  display: none;
}
.menu__container__title .like .icone-heart input:checked + .heart {
  fill: red;
}
.menu__container__title .like .icone-heart input:checked + .heart path {
  stroke: none;
}
@media screen and (min-width: 1024px) {
  .menu__container__title .like {
    padding-right: 0;
  }
}
.menu__container .button {
  width: 186px;
  height: 50px;
  background: linear-gradient(var(--secondary-color), var(--primary-color));
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 24px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 1;
}
.menu__container .button:hover {
  animation: button_linear-gardien 300ms ease-out forwards;
}
@keyframes button_linear-gardien {
  100% {
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.35);
    opacity: 0.85;
  }
}
.menu__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  animation: display-content 3000ms cubic-bezier(0.17, 0.84, 0.44, 1) both;
}
@media screen and (min-width: 768px) {
  .menu__content {
    width: 664px;
  }
}
.menu__content__title {
  border-bottom: 3px solid var(--tertiary-color);
  width: 40px;
  height: 24px;
  margin: 0 0 12px 15px;
}
.menu__content__title h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 18.75px;
}
@keyframes display-content {
  0% {
    transform: translateY(-110%);
  }
  100% {
    transform: translateY(0);
  }
}
.menu .card__row {
  height: 69px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  margin: 0 15px 12px 15px;
  animation: display-card 2000ms ease both;
}
.menu .card__row--1 {
  animation-delay: 200ms;
}
.menu .card__row--2 {
  animation-delay: 400ms;
}
.menu .card__row--3 {
  animation-delay: 600ms;
}
.menu .card__row--4 {
  animation-delay: 800ms;
}
.menu .card__row--5 {
  animation-delay: 1000ms;
}
.menu .card__row--6 {
  animation-delay: 1200ms;
}
.menu .card__row--7 {
  animation-delay: 1400ms;
}
.menu .card__row--8 {
  animation-delay: 1600ms;
}
.menu .card__row--9 {
  animation-delay: 1800ms;
}
.menu .card__row--10 {
  animation-delay: 2000ms;
}
.menu .card__row__left {
  display: flex;
  flex-direction: column;
  gap: 5px;
  overflow: hidden;
  white-space: nowrap;
  padding-left: 15px;
}
.menu .card__row__left h4 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .card__row__left p {
  font-size: 15.04px;
  font-weight: 300;
  line-height: 17.63px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .card__row__right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.menu .card__row__right .checkButton {
  display: inline-block;
  cursor: pointer;
  user-select: none;
}
.menu .card__row__right input {
  display: none;
}
.menu .card__row__right__button {
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  margin-right: -59px;
  transition: margin-left 300ms, translate 300ms;
}
.menu .card__row__right span {
  font-size: 15.04px;
  font-weight: 700;
  line-height: 17.63px;
  height: 42px;
  display: flex;
  flex-direction: row;
  align-items: end;
  padding-right: 15px;
}
.menu .card__row__right .check {
  width: 59px;
  height: 69px;
  background-color: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
}
.menu .card__row__right .check i {
  color: white;
  margin: auto;
}
.menu .card__row__right .checkButton input:checked + .card__row__right__button {
  translate: -59px;
  margin-left: 59px;
}
@keyframes display-card {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(0);
  }
}

.navBar {
  width: 100%;
}
.navBar__container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.navBar__top {
  position: relative;
  width: 100%;
  height: 63px;
  z-index: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1024px) {
  .navBar__top {
    height: 96px;
  }
}
.navBar__top img {
  height: 30px;
}
@media screen and (min-width: 1024px) {
  .navBar__top img {
    height: 34px;
  }
}
.navBar__bottom {
  width: 100%;
  height: 50px;
  background-color: #eaeaea;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 17px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2509803922);
}
.navBar__bottom p {
  font-weight: 500;
  line-height: 18.75px;
}

.navBar_restaurant {
  width: 100%;
  height: 63px;
}
.navBar_restaurant__container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0p 2px 4px 0p rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1024px) {
  .navBar_restaurant__container {
    height: 96px;
  }
}
.navBar_restaurant__container .go_back {
  position: absolute;
  top: 17px;
  left: 17px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .navBar_restaurant__container .go_back {
    top: 33px;
  }
}
.navBar_restaurant__container .logo {
  height: 30px;
}
@media screen and (min-width: 1024px) {
  .navBar_restaurant__container .logo {
    height: 34px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  background-color: #353535;
  padding: 22px 25px 22px 25px;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .footer__container {
    height: 92px;
    flex-direction: row-reverse;
    align-items: end;
    padding: 0 25px 30px 25px;
  }
}
.footer__container h3 {
  color: white;
  width: 139px;
  height: 27px;
  font-family: var(--header-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 26.24px;
}
.footer__container__list {
  width: 190px;
  height: 99px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: white;
}
@media screen and (min-width: 1024px) {
  .footer__container__list {
    width: 100%;
    height: 20px;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.footer__container__list > a:nth-child(4),
.footer__container__list a:nth-child(3) {
  width: 130px;
}
.footer__container__list a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: white;
}
.footer__container__list__row {
  display: flex;
  flex-direction: row;
  width: 190px;
  height: 19px;
  gap: 11px;
}
.footer__container__list__row #fork-knife {
  width: 11px;
  height: 13px;
}
.footer__container__list__row #hand {
  width: 11.92px;
  height: 13px;
}
.footer__container__list__row span {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
}

/****** Animation on page loading  ******/
/* Settings > Animation letter */
/* Settings > Animation progress bar */
/******* Start Loader ********/
.loader {
  /* loder container*/
  background: linear-gradient(var(--primary-color), var(--secondary-color));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: progress;
  animation: start-loader 10ms 3000ms both;
}

@keyframes start-loader {
  /* Start loader > appearance before home-content */
  0% {
    scale: 1;
  }
  100% {
    scale: 0;
  }
}
.animation__letter {
  /* letter container */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.letter {
  /* letter settings */
  font-family: "Shrikhand", serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 43.74px;
  animation: loader 600ms ease-in-out infinite alternate both;
  /* Number automation > letter--# */
}
.letter--1 {
  animation-delay: 60ms;
}
.letter--2 {
  animation-delay: 120ms;
}
.letter--3 {
  animation-delay: 180ms;
}
.letter--4 {
  animation-delay: 240ms;
}
.letter--5 {
  animation-delay: 300ms;
}
.letter--6 {
  animation-delay: 360ms;
}
.letter--7 {
  animation-delay: 420ms;
}
.letter--8 {
  animation-delay: 480ms;
}
.letter--9 {
  animation-delay: 540ms;
}
.letter--10 {
  animation-delay: 600ms;
}

/* Animation letter > Loading effect 1 */
@keyframes loader {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}
/* Progress bar linea-gradient*/
.animation__progress {
  width: 225px;
  height: 10px;
  border-radius: 20px;
  background: linear-gradient(90deg, #99e2d0, #89c8fa, #003a68);
  opacity: 0;
  transform-origin: left;
  transform: scaleX(0);
  animation: progress-bar 3000ms 200ms both;
}

/* Animation progress-bar > Loading effect 2 */
@keyframes progress-bar {
  0% {
    transform: scaleX(0);
  }
  17% {
    transform: scaleX(0.18);
  }
  24% {
    transform: scaleX(0.4);
    animation-timing-function: cubic-bezier(0.9, 0, 0.1, 1);
  }
  46% {
    transform: scaleX(0.81);
    animation-timing-function: cubic-bezier(0.25, 0.25, 1);
  }
  85%, 100% {
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
  }
}
/******* Start Home content ********/
.homepage {
  animation: home-content 10ms 3000ms both;
}
@keyframes home-content {
  /* Animation home content > appearance after Start Loader */
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

:root {
  --primary-color: #9356dc;
  --secondary-color: #ff79da;
  --tertiary-color: #99e2d0;
  --black: black;
  --background: #f5f5f5;
  --background-secondry: #f6f6f6;
  --header-font: "Shrikhand", serif;
  --title-font: "Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
  --body-highlight-font: "Roboto", sans-serif;
  --header-weight: 400;
  --title-weight: 700;
  --body-weight: 400;
  --body-highlight-weight: 500;
  --header-size: 30px;
  --title-size: 24px;
  --body-size: 16px;
  --body-highlight-size: 16px;
  --header-line-height: 40.82px;
  --title-line-height: 28.13px;
  --body-line-height: 18.75px;
  --body-highlight-line-height: 18.75px;
}

* {
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: 300;
  font-size: 15.04px;
  line-height: 17.63px;
  color: var(--black);
  background-color: var(--background);
}

h1 {
  font-family: var(--header-font);
  font-style: normal;
  font-weight: var(--header-weight);
  font-size: var(--header-size);
  line-height: var(--header-line-height);
  color: var(--black);
}

h2 {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: var(--title-weight);
  font-size: var(--title-size);
  line-height: var(--title-line-height);
  color: var(--black);
}

h3 {
  font-family: var(--title-font);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  color: var(--black);
}

p {
  font-family: var(--body-font);
  font-style: normal;
  font-weight: var(--body-weight);
  font-size: var(--body-size);
  line-height: var(--body-height);
  color: var(--black);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/*# sourceMappingURL=main.css.map */
