// ****** Style menupages ******

@import "../modules/button_linear-gradient.scss";
@import "../modules/likes.scss";

// Settings > Animation display-card
$anim-dur-cards: 2000ms;
$num-cards: 10;
$anim-delay-cards: calc($anim-dur-cards / $num-cards);

// Settings > Animation display-content
$anim-dur-block: 3000ms;

// ****** Introducer image ******
.image_introduction {
  width: 100%;
  height: 275px;
  @media screen and (min-width: 768px) {
    height: 383px;
  }
  @media screen and (min-width: 1024px) {
    margin-top: 33px; // alignment with navBar
  }
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

// ****** Section Menu list ******
.menu {
  position: relative;
  width: 100%;
  z-index: 1;
  @media screen and (min-width: 1024px) {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &__container {
    margin-top: -50px;
    padding: 28px 0 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: var(--background-secondry);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    @media screen and (min-width: 678px) {
      margin-top: -40px;
      padding-top: 40px;
      height: 100%;
    }
    @media screen and (min-width: 1024px) {
      width: 1024px;
      
    }
    @media screen and (min-width: 1440px) {
      width: 1055px;
    }
    &__title {
      width: 370px;
      height: 29px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @media screen and (min-width: 1024px) {
        width: 307px;
        height: 41px;
      }
      h2 {
        font-family: var(--header-font);
        font-size: 1.75rem;
        font-weight: var(--header-weight);
        line-height: 40.82px;
      }
      // Button Like
      .like {
        width: 22px;
        height: 21px;
        padding-right: 24px;
        padding-top: 8px;
        @include like__setting;
        @media screen and (min-width: 1024px) {
          padding-right: 0;
        }
      }
    }
    // Button linear-gradient
    .button {
      width: 186px;
      height: 50px;
      @include button_linear-gradient;
    }
  }
  &__content {
    width: 100%;
    max-width: 664px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    // Animation > display content  "Entrées" "Plats" "Desserts"
    animation: display-content $anim-dur-block cubic-bezier(0.17, 0.84, 0.44, 1)
      both;
    &__title {
      // Title > "Entrées" "Plats" "Desserts"
      border-bottom: 3px solid var(--tertiary-color);
      width: 40px;
      height: 24px;
      margin: 0 0 12px 15px;
      h3 {
        font-size: 1rem;
        font-weight: 300;
        line-height: 18.75px;
      }
    }
    @keyframes display-content {
      0% {
        transform: translateY(-110%);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
  // Settings cards
  .card__row {
    height: 69px;
    border-radius: 15px;
    background-color: var(--white);
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 0 15px 12px 15px;
    // Animation > display-card 1 by 1 appearance
    animation: display-card $anim-dur-cards ease both;
    // Number automation > card__row--#
    @for $i from 1 through $num-cards {
      &--#{$i} {
        animation-delay: $anim-delay-cards * $i;
      }
    }
    // Left block > Name and description
    &__left {
      display: flex;
      flex-direction: column;
      gap: 5px;
      overflow: hidden;
      white-space: nowrap;
      padding-left: 15px;
      // Name
      h4 {
        font-size: 1.125rem;
        font-weight: 500;
        line-height: 21.09px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      // Description
      p {
        font-size: 0.94rem;
        font-weight: 300;
        line-height: 17.63px;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    // Right block > Price and hidden check block
    &__right {
      display: flex;
      flex-direction: row;
      align-items: center;
      // Settings button check
      .checkButton {
        display: inline-block;
        cursor: pointer;
        user-select: none;
      }
      input {
        display: none; // disappearance of the input square
      }
      &__button {
        height: 42px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        margin-right: -59px; // margin-right to make it disappear check block
        transition: margin-left 300ms, translate 300ms; // Animation > reveal check block and move to the left to reduce the left block
      }
      // Price settings
      span {
        font-size: 0.94rem;
        font-weight: 700;
        line-height: 17.63px;
        height: 42px;
        display: flex;
        flex-direction: row;
        align-items: end;
        padding-right: 15px;
        color: #353535;
      }
      // Settings check block
      .check {
        width: 59px;
        height: 69px;
        background-color: var(--tertiary-color);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        display: flex;
        // Icon check
        i {
          color: var(--white);
          margin: auto;
        }
      }
      // action onclick
      .checkButton input:checked + .card__row__right__button {
        translate: -59px;
        margin-left: 59px;
      }
    }
    // Move to the left to reduce the left block
    @keyframes display-card {
      0% {
        transform: translateX(-110%);
      }
      100% {
        transform: translateX(0);
      }
    }
  }
}
