/****** Style homepage ******/
/* Import button_linear-gradient and likes modules */
/****** Button linear-gradient settings ******/
/****** Animation like button ******/
/****** Introduction ******/
.introduction {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.introduction__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 42px;
  padding-bottom: 52px;
  overflow: hidden;
  /*  Title */
  /*  Catchphrase */
  /* Button linear-gradient */
}
@media screen and (min-width: 768px) {
  .introduction__container {
    margin-top: 30px;
    padding-bottom: 30px;
    gap: 18px;
  }
}
@media screen and (min-width: 1024px) {
  .introduction__container h2 {
    font-size: 40px;
    height: 47px;
    display: flex;
    align-items: center;
  }
}
.introduction__container p {
  font-weight: 300;
}
@media screen and (min-width: 1024px) {
  .introduction__container p {
    font-size: 18px;
    height: 46px;
    display: flex;
    align-items: center;
  }
}
.introduction__container .button {
  width: 218px;
  height: 50px;
  /* Include mixin > button_linear-gardien.scss */
  background: linear-gradient(var(--secondary-color), var(--primary-color));
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 24px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 1;
  /* Hover animation */
}
.introduction__container .button:hover {
  animation: button_linear-gardien 300ms ease-out forwards;
}
@keyframes button_linear-gardien {
  100% {
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    opacity: 0.85;
  }
}

/****** Fonctionnement ******/
.fonctionnement {
  width: 100%;
  height: 100%;
  padding: 50px 0 70px 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 0;
  }
}
.fonctionnement__container {
  width: 375px;
  /* Operating lists */
  /* icon size */
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container {
    width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .fonctionnement__container {
    width: 1053px;
    margin-right: 27px;
  }
}
.fonctionnement__container h2 {
  padding-left: 20px;
  margin-bottom: 26px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container h2 {
    padding-left: 0;
  }
}
.fonctionnement__container__list {
  padding-left: 33px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* Operating block*/
}
@media screen and (min-width: 1024px) {
  .fonctionnement__container__list {
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 12px;
    gap: 36px;
  }
}
.fonctionnement__container__list__etapes {
  width: 290px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 72px;
  padding-left: 33px;
  gap: 20px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  /* Step number */
  /* Step descrition */
}
.fonctionnement__container__list__etapes span {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 14.18px;
  line-height: 16.62px;
  width: 24px;
  height: 24px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 20px;
  margin-left: -44px;
}
.fonctionnement__container__list__etapes p {
  font-weight: 500;
  line-height: 18.75px;
}
.fonctionnement__container #n1 {
  width: 13px;
  height: 20px;
}
.fonctionnement__container #n2 {
  width: 16px;
  height: 16px;
}
.fonctionnement__container #n3 {
  width: 18px;
  height: 18px;
}

/****** Restaurants ******/
.restaurant {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-restaurant {
  margin: 54px 0 66px 0;
  /* Title */
  /* Cards container */
  /* Button Like */
  /* Card content*/
}
@media screen and (min-width: 1024px) {
  .list-restaurant {
    width: 1024px;
    margin: 30px 0;
  }
}
@media screen and (min-width: 1440px) {
  .list-restaurant {
    width: 1080px;
  }
}
.list-restaurant__title {
  padding-bottom: 18px;
}
@media screen and (min-width: 1024px) {
  .list-restaurant__title {
    padding-left: 0;
  }
}
.list-restaurant__cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .list-restaurant__cards {
    justify-content: space-evenly;
    padding: 0;
    gap: 50px;
  }
}
.list-restaurant__cards__top, .list-restaurant__cards__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 18px;
}
@media screen and (min-width: 1024px) {
  .list-restaurant__cards__top, .list-restaurant__cards__bottom {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .list-restaurant__cards__top, .list-restaurant__cards__bottom {
    gap: 100px;
  }
}
.list-restaurant .like {
  padding-top: 7px;
  width: 22px;
  height: 21px;
  /* Include mixin > likes.scss*/
}
.list-restaurant .like .heart {
  transition: fill 0.3s;
}
.list-restaurant .like .heart path {
  stroke: #101010;
}
.list-restaurant .like .icone-heart {
  display: inline-block;
  cursor: pointer;
  user-select: none;
  /* action onclick */
}
.list-restaurant .like .icone-heart input {
  /* disappearance of the input square */
  display: none;
}
.list-restaurant .like .icone-heart input:checked + .heart {
  fill: url(#grad1); /* id:"grad1 > linear-gradient" */
}
.list-restaurant .like .icone-heart input:checked + .heart path {
  stroke: none;
}
.list-restaurant .card {
  height: 251px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  /* Restaurant picture */
  /* Bottom information block */
}
.list-restaurant .card__image {
  width: 340px;
  height: 80%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
@media screen and (min-width: 1024px) {
  .list-restaurant .card__image {
    width: 490px;
  }
}
.list-restaurant .card__container {
  width: 100%;
  position: relative;
  padding: 16px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 5px;
  /* Green badge new */
}
.list-restaurant .card__container .badge_nouveau {
  position: absolute;
  right: 13px;
  bottom: 209px;
  width: 80px;
  height: 29px;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  /* Text "Nouveau" */
}
.list-restaurant .card__container .badge_nouveau span {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
  color: #008766;
}
.list-restaurant .card__content {
  /* Location */
}
.list-restaurant .card__content p {
  font-size: 17px;
  font-weight: 300;
  line-height: 19.92px;
}/*# sourceMappingURL=home.css.map */