@import '../modules/button_linear-gardien.scss' ;

.introduction__container{
    width: 100%;
    text-align: center;
    & h2{
        position: absolute;
        top: 152px;
        left: 42px;
        width: 275px;
        height: 68px;
    }
    & h3{
        position: absolute;
        top: 220px;
        left: 34px;
        width: 315px;
        height: 46px;
        font-weight: 300;
    }
    & button{
        position: absolute;
        top: 293px;
        left: 82px;
        width: 218px;
        height: 50px;
        @include bouton_linear-gardien;
    }
}

.fonctionnement__container{
    position: absolute;
    top: 400px;
    width: 375px;
    height: 440px;
    background-color: #ffffff;
    & h2{
        padding: 48px 0 0 20px;
    }
    &__list{
        padding-left: 33px;
        padding-top: 26px ;
        display: flex;
        flex-direction: column;
        gap: 20px;
        &__etapes{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: 72px;
            gap: 20px;
            padding-left: 34px;
            margin-right: 20px;
            border-radius: 20px;
            background-color: #F6F6F6 ;
            box-shadow: 0px 4px 15px 0px #00000026;
            & p{
                position: absolute;
                left: 22px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                font-size: 14.18px;
                width: 24px;
                height: 24px;
                color: white;
                background-color: var(--primary-color);
                border-radius: 20px;
            }
        }
    }
    #n1{
        width: 13px;
        height: 20px;
    }
    #n2{
        width: 16px;
        height: 16px;
    }
    #n3{
        width: 18px;
        height: 18px;
    }
}