@import '../modules/button_linear-gardien.scss' ;

.introduction__container{
    width: 100%;
    text-align: center;
    & h2{
        position: absolute;
        top: 152px;
        left: 42px;
        width: 275px;
        height: 68px;
    }
    & h3{
        position: absolute;
        top: 220px;
        left: 34px;
        width: 315px;
        height: 46px;
        font-weight: 300;
    }
    & button{
        position: absolute;
        top: 293px;
        left: 82px;
        width: 218px;
        height: 50px;
        @include bouton_linear-gardien;
    }
}