.introduction__container {
  width: 100%;
  text-align: center;
}
.introduction__container h2 {
  position: absolute;
  top: 152px;
  left: 42px;
  width: 275px;
  height: 68px;
}
.introduction__container h3 {
  position: absolute;
  top: 220px;
  left: 34px;
  width: 315px;
  height: 46px;
  font-weight: 300;
}
.introduction__container button {
  position: absolute;
  top: 293px;
  left: 82px;
  width: 218px;
  height: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 24px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
}
.introduction__container button a {
  text-decoration: none;
}
.introduction__container button h5 {
  color: white;
}

.fonctionnement__container {
  position: absolute;
  top: 400px;
  width: 375px;
  height: 440px;
  background-color: #ffffff;
}
.fonctionnement__container h2 {
  padding: 48px 0 0 20px;
}
.fonctionnement__container__list {
  padding-left: 33px;
  padding-top: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.fonctionnement__container__list__etapes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 72px;
  gap: 20px;
  padding-left: 34px;
  margin-right: 20px;
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
.fonctionnement__container__list__etapes p {
  position: absolute;
  left: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14.18px;
  width: 24px;
  height: 24px;
  color: white;
  background-color: var(--primary-color);
  border-radius: 20px;
}
.fonctionnement__container #n1 {
  width: 13px;
  height: 20px;
}
.fonctionnement__container #n2 {
  width: 16px;
  height: 16px;
}
.fonctionnement__container #n3 {
  width: 18px;
  height: 18px;
}

.list-restaurant__title {
  position: absolute;
  width: 275px;
  height: 28px;
  top: 894px;
  left: 20px;
}
.list-restaurant__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  position: absolute;
  top: 942px;
  left: 17px;
  width: 340px;
  height: 1058px;
}
.list-restaurant .card {
  width: 340px;
  height: 251px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
}
.list-restaurant .card__image {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: bottom;
  overflow: hidden;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.list-restaurant .card__container {
  position: relative;
  padding: 16px 0 16px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-sizing: border-box;
  gap: 5px;
}
.list-restaurant .card__container .icone-heart {
  position: absolute;
  right: 25px;
  bottom: 33px;
}
.list-restaurant .card__container .badge_nouveau {
  position: absolute;
  right: 13px;
  bottom: 209px;
  width: 80px;
  height: 29px;
  background-color: var(--tertiary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.list-restaurant .card__container .badge_nouveau p {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
}/*# sourceMappingURL=home.css.map */